[class^="box"]{
    margin: 3rem auto;
    background-color: orangered ;
}

.box{
    width: 300px;
    height: 300px;
}

.box-flexible{
    /*no olvidar que este 50% se refiere al contenedor padre, que en este caso es el article*/
    width: 50%;
    height: 20vh;
}

.box-flexible-2{
    max-width: 960px;
    min-width: 280px;

    max-height: 480px;
    min-height: 280px;
}

.box-flexible-3{
    max-width: 960px;
    min-width: 280px;

    max-height: 480px;
    min-height: 280px;
/*al definir ancho y alto CON UNIDADES DE PX, estas pisan los valores de min y max que se le habian dado*/
    width: 300px;
    height: 300px;
}

.box-flexible-4{
    max-width: 960px;
    min-width: 280px;

    max-height: 480px;
    min-height: 280px;
/*a diferencia del caso anterior, si se define el ancho y el alto con unidades distintas al px se respeta el maximo y el minimo de la altura*/
    width: 50%;
    height: 20vh;
}
/*sin embargo al iframe se le da el alto predeterminado de esa etiqueta, asi que tal vez las otras tecnicas sean mas aptas a usar */
img,
video,
iframe{
    max-width: 100%;
    height: auto;
}

.responsive-media{
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    /* por que se usa el 56.25% (formato widescreen 16:9)...
    
    16 representa el ancho y es el 100%
    9 que seria la altura seria la mitad mas o menos 56.25%

    pues por que el height no recibe % si no hay una altura predeterminada en el contenedor padre, entoces el paddin bottom empuja hacia abajo
    */
}

/*con este responsive media el lio es que el video crece mas alla de su tamaño original y puede pixelarse*/
.responsive-media > *{
    position:absolute;
    width: 100%;
    height: 100%; /*por el paddin se le genera la altura*/
}

.aspect-ratio-16-9{
    background-color: rebeccapurple;
    aspect-ratio: 16 / 9;
}

.aspect-ratio-1-1{
    aspect-ratio: 1 / 1;
}

@media print {
    @page{
        size: A6 landscape;
    }

    body{
        font-size: 10pt;
        font-family: sans-serif;
        background-color: #000;
        color: greenyellow;
    }
}
/* @media screen and (prefers-reduced-motion:reduce ) este no quita el movimiento que tiene de smooth para ir acada link, pero el no-preference si lo quita*/
@media screen and (prefers-reduced-motion:no-preference ){
    html{
        scroll-behavior: auto;
        scroll-behavior: smooth;
    }
}

/*al parecer este no coje por que tengo la configuracion del navigador en claro*/
@media screen and (prefers-color-scheme:dark) {
    html{
        background-color: #000;
        color: teal;
    }
}

@media screen and (prefers-color-scheme:light) {
    html{
        background-color: #fff;
        color: darkblue;
    }
}

/*ni siquiera con el no preference se puede, sin embargo con el light usado como scheme si lo logra*/
@media screen and (prefers-color-scheme:no-preference) {
    html{
        background-color: #000;
        color: teal;
    }
}

@media screen and (prefers-color-scheme:light) {
    html{
        background-color: #000;
        color: teal;
    }
}
/*---------------------------------------------------------*/

@media screen and (prefers-color-scheme:light) {
    html{
        background-color: #fff;
        color: black;
    }
}

/* cuando se trabajacon el min-width es por que se esta pensando primero en el movil - MOVILE FIRST */
@media screen and ( min-width:480px){
    html{
        background-color: lightpink;

    }
}
/*esto es DESKTOP FIRST osea los estilos estan pensados primero para el pc*/
@media screen and ( max-width:1024px){
    html{
        background-color: lightgreen;

    }
}

/*lo mejor es solo usar o min-width o max-width asi se evitan problemas, solo hay que usar uno de los dos*/

@media screen{
    html{
        background-color: #fff;

    }
}

/*si el navegador soporta la propiedad entre parentesis entonces los cambios se haran, este metodo de subgrid esta bien implementado en FIREFOX*/
@supports (grid-template-columns: subgrid){
    html{
        background-color: black;
        color: greenyellow;
    }
}

/*si NO soporta ciertos estilos podria tener algunos estilos que lo indiquen - el supports tambien maneja and or y not*/
@supports not (grid-template-columns: subgrid){
    html{
        background-color: darkolivegreen;
        color: white;
    }
}

@supports (display: grid) and (grid-template-columns: subgrid){
    html{
        background-color: darkslateblue;
        color: lightseagreen
    }
}

@supports (display: grid) or (grid-template-columns: subgrid){
    html{
        background-color: darkslateblue;
        color: lightseagreen
    }
}

@supports (display: grid) or (grid-template-columns: subgrid){
    html{
        background-color: white;
        color: black
    }
}

.card{
    border: 1px solid #000;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    contain: layout inline-size style;
}

.card-img{
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: 0 50%;
}

.card-content{
    padding: 1rem;
}

/*chrome://flags..... y se activa la propiedad de container queries*/
/*la idea del container es adaptarse a las necesidades del componente y su visualizacion*/
@container (min-width:600px) {
    .card-container{
        display:flex;
    }

    .card-container > *{
        width: 50%;
        flex-basis: 50%;
    }
}
/*esto es lo que debieria pasar, pero no sucedio con el container*/
@media screen and (min-width:600px) {
    .card-container {
        display:flex;
    }

    .card-container > *{
        width: 50%;
        flex-basis: 50%;
    }
}


.fluid-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.fluid-item{
    border: 1px solid gray;
    padding: 1rem;
}

/* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
    --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
    --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
    --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
    --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
    --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
    --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
    --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
    --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
  }

.step--2{
    font-size: var(--step--2);
}

.step--1{
    font-size: var(--step--1);
}

.step-0{
    font-size: var(--step-0);
}

.step-1{
    font-size: var(--step-1);
}

.step-2{
    font-size: var(--step-2);
}

.step-3{
    font-size: var(--step-3);
}

.step-4{
    font-size: var(--step-4);
}

.step-5{
    font-size: var(--step-5);
}

body {
    /* 
      14 = tamaño de letra más pequeño
      18 = tamaño de letra más grande
      300 = tamaño de viewport más pequeño
      1400 = tamaño de viewport más grande
    */

    /*este hack hizo que todo el texto estuviera mas grande en la pantalla, pero se acomoda al tamaño de la pantalla*/
    /* font-size: calc(14px + (18 -14) * ((100vw - 300px) / (1400 - 300))); */

    /* font-size: calc(12px + (24 -12) * ((100vw - 200px) / (1600 - 200))); */
  }

  .box-fluid{
      width: clamp(400px, 60vw, 600px);
      height: clamp(200px, 30vh, 300px);
  }