/* 
background-color: define el color de fondo del elemento
background-image: define la imagen de fondo del elemento
background-size: define el tamaño de la imagen de fondo, primer valor x, segundo y
    - cover: cambia el tamaño de la imagen de fondo para asegurarse de que permanezca completamente visible
    - contain: cambia el tamaño de la imagen de fondo para asegurarse de que el elemento esté completamente cubierto
background-repeat: define cómo se repite la imagen de fondo en el elemento
background-position:
  define la posición de la imagen de fondo, primer valor x, segundo y, si no se especifica un segundo valor éste será center
  aparte de valores numéricos podemos indicar el posicionamiento con las palabras: center, top, bottom, left and right
background-clip: define cuánto debe extenderse el fondo dentro del elemento.
background-origin: define el origen de la imagen de fondo.
background-attachment: define cómo se comportará la imagen de fondo al desplazarse por la página
*/

.box {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    border: 5px dashed red;
    margin-top: 2rem;
}

.bg-color{
    background-color: hotpink ;
}

.bg-image{
    background-image: url("../assets/puesta-sol.jpg");
}

.bg-size{
    background-image: url("../assets/puesta-sol.jpg");
    background-size: 300px 200px; /*si se pone solo un valor, el otro es calculado automaticamente*/
    background-size: cover;
    background-size: contain;
}

.bg-repeat{
    background-image: url("../assets/puesta-sol.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
}

.bg-position{
    background-image: url("../assets/puesta-sol.jpg");
    background-size: 100px;
    background-repeat: no-repeat;
    background-position: 100px 100px;
    background-position: center;
    background-position: top center;
    background-color: blue;

}

.bg-clip{
    background-image: url("../assets/puesta-sol.jpg");
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: skyblue;
    background-clip: border-box; /*el color desde el border -  es el valor por defecto*/
    background-clip: padding-box;/*el color desde el padding de la imagen */
    background-clip: content-box;/*el color solo en el contenido*/
    padding: 1rem;


}

.bg-origin{
    background-image: url("../assets/puesta-sol.jpg");
    background-size: 200px;
    background-repeat: no-repeat;
    background-color: skyblue;
    padding: 1rem;
    background-origin: padding-box; /*por defecto*/
    background-origin: content-box; /*la imagen empieza desde el contenido*/
    background-origin: border-box; /*la imagen empieza en el borde*/

}
.bg-attachment{
    background-image: url("../assets/puesta-sol.jpg");
    background-color: skyblue;
    background-repeat: no-repeat;
    width: 100%;
    height: 50vh;
    background-size: cover;
    background-attachment: scroll; /*defaut*/
    background-attachment: fixed; /*un poco efecto paralax*/

    /*background: red; si uno lo pone como shorthand el rojo va a quedar tapando todo*/
}

.bg-multiple{
    width: 50%;
    height: 30vh;
    
    background-image: 
    url("../assets/favicon.png"),
    url("../assets/puesta-sol.jpg"); 

    background-repeat: 
    repeat,
    no-repeat;

    background-size: 
    10%,
    cover;

}

.bg-multiple-2{
    width: 1000px;
    height: 700px;
    
    /* background-image: 
    url("../assets/arbol.png"), 
    url("../assets/aves.png"),
    url("../assets/cielo.png"); 


    background-repeat: 
    no-repeat;

    background-size: 
    cover;

    background-attachment: 
    fixed; */

    background: url("../assets/arbol.png") center bottom no-repeat ,
    url("../assets/aves.png") center bottom no-repeat  fixed,
    url("../assets/cielo.png") 50% 50% / cover no-repeat ;
    /*para hacerlo de esta manera hay que mirar el orden de cada cosa*/
}