.box {
    background-color: black;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    border: 1px solid red;
    margin-top: 2rem;
}

.border-radius{
    border-top-left-radius: 40rem;
    border-top-right-radius: 4rem;
    border-bottom-right-radius: 40rem;

    border-radius: 4rem 3rem 2rem 1rem;
}

.border-radius-2{
    /* margin-top: 2rem; */
    border-radius: 2rem / 4rem;
    
}

.border-radius-3{
    border-radius: 50%;
}

.border-radius-4{
    width: 400px;
    height: 200px;
    border-radius: 50%;
}

.outline{
    color: white;
    text-align: center;
    outline-width: 5px;
    outline-style: dashed;
    outline-color: chartreuse;
    outline: 5px solid blue;
    outline-offset: -3rem; /*3 rem de distancia y si se pone negativo se contrae*/
    /*el outline los input de texto lo usan cuando tienen el foco y por eso se ven con un borde oscuro con el foco*/
}