/*content - padding  -border - margin*/
h1{
    width: 400px;
    height: 200px;
    border-width: 1px;
    border-style: solid;
    border: 2px dashed red;
    /* border: thin - 1px, medium - 3px, thick - 5px; */
}

.caja-uno,
.caja-dos{
    background-color: chocolate;
    border: medium solid orange;

    padding: 10px;
    margin: 10px;
}
/*los elementos en linea empujan a los demas en la horizontal
entonces se empiezan a montar arriba y abajo*/
.caja-bloque,
.caja-linea{
    background-color: darkcyan;
    width: 500px;
    height: 250px;
    color: white;
    padding: 16px;
    border: 1px solid red;
    /* margin: 32px; */
}

.caja-bloque{
    margin: 32px;
}

.caja-linea{
    margin: 48px;/*solo toma los valores a los lados*/
}

.caja-none,
.caja-linea-bloque,
.caja-hidden{
    background-color: darkolivegreen;
    color: white;
    /* padding: 0 16px; */
    width: 600px;
    height: 300px;
    border: 1px solid black;
    
}

.caja-none{
/*SE OCULTA EL ELEMENTO PERO SI SE CARGA EN EL HTML, EN MOVIL PUEDE GASTAR DATOS*/
/*el espacio que ocupa desaparece*/
display: none;
}

.caja-linea-bloque{
    display: inline-block;/**sigue siendo inline, pero se deja modificar sus dimensiones*/
}

.caja-hidden{
    visibility:hidden/*oculta contenido pero el espacio sigue ocupandose en el html -visble/hidden -*/
}

.overflow{
    background-color: darkturquoise;
    width: 200px;
    height: 100px;
    overflow: hidden;
    overflow: scroll;/*muestra ambas barras de desplazamiento*/
    overflow: auto;/*solo deja la barra vertical, por que es ahi dond e se necesita*/
    /*overflow-y:scroll*/
}

.box-sizing-content,
.box-sizing-border{
    background-color: deepskyblue;
    box-sizing: content-box;
    width: 500px;
    height: 250px;
    padding: 10px;
    border: thick solid brown;
}

.box-sizing-border{
    box-sizing: border-box;
}

.container-col-3{
    background-color: burlywood;
    width: 600px;
    height: 300px;
    margin-top: 20px;
}

.container-col-3 > *{
    width: 200px;
    float: left;
    border: thin solid red;/*toca cambiar el 600 a 606 en el width*/
}

html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit; /*paul irish*/
}

/*propiedad float*/
.container-floats{
    background-color: cornflowerblue;
}

.float-right{
    float: right;
}
/*problema: se sale de la caja y pierde el color*/
.float-left{
    float: left;
}

.clearfix{
    clear: both;
}
/*960 grid system 960gs.com*/

/*colapso de margenes  verticales*/
/*los margenens verticales de un elemento con otro se van a acoplar(es decir se enciman), no se suman*/

/*para solucionar eso tratar de usar solo top o solo bottom*/
.margin-collapse{
    background-color: skyblue;
}

.margin-collapse section{
    border: 1px solid black;
    margin-top: 16px;
    margin-bottom: 16px;
}

.margin-collapse span{
    border: 1px solid black;
    display: inline-block;
    margin-right: 16px;
    margin-left: 16px;
}

/*Centrado de Cajas*/
.sitio-web{
    border: 1px solid black;
    background-color: thistle;
    width: 800px;
    height: 1000px;
    padding: 16px;
    margin-left: auto;
    margin-right: auto;
}
