/*https://htmlcolorcodes.com/es/*/
.color-by-name{
    background-color: coral;
    color: rebeccapurple;
    border: 5px solid greenyellow;
}

.color-hex{
    background-color: #00000050;/*los ultimos dos digitos indican el canal alpha*/
    color: #12ac78;
    border: 5px solid #ff0000;
}

.color-rgb{
    background-color: rgb(red, green, blue);
    color: rgba(73, 29, 59, 0.75);
    border: 5px solid greenyellow;
}
/*
0° red
60° yellow
120° green
180° cyan
240° blue
300° magenta

0% escala de grises
100% color puro

0% negro
50% color puro
100% blanco

*/
.color-hsl{
    background-color: hsl(0, 100%, 50%);
    color: rebeccapurple;
    border: 5px solid greenyellow;
}

.color-trasnparent-current{
    background-color: darkmagenta;
    background-color: currentColor;
    background-color: transparent;
    /* color: orangered; */
    border: 1px solid currentColor;
}
/*
currentColor hereda el valor por defecto o asignado de la PROPIEDAD COLOR del ancestro que tenga definida esta propiedad, busca del ancestro mas cercano al mas alejado
*/

.opacity{
    background-color: orchid;
    color: navy;
    border: 5px solid black;
    opacity: 0.5;/*todas las propiedades de color se ponen opacas*/
}