html{
    box-sizing: border-box;
    font-size: 16px;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body{
    margin: 0;
}

.slides{
    width: 100%;/*1 paso para el scroll snap, tener unas medidas definidas en este caso una altuira */
    height: 100vh; /*importante que sea este, osea el valor del viewport*/
    overflow-y: scroll; /*2 paso, activar el overflow en el eje donde se vaya a poner el scroll*/
    /*scroll-snap-type: x o inline para los movimientos horizontales - y o block para los movimientos verticales - both para mover ambos ejes ------ el segundo valor puede se mandatory para mover un poquito la rueda del raton o proximity en dondetoca estar cerca de los margenes para que se de el movimiento ;*/
    scroll-snap-type: block proximity;/*3 paso es poner el scroll snap*/
    scroll-snap-type: block mandatory;/*3 paso es poner el scroll snap*/
}

.slide{
    width: 100%;
    height: inherit;
    background-color: #1e2345;
    /* border: 1px solid red; */

    scroll-snap-align: center;/*4 paso, a las etiquetas hijas ponerle esto*/ /*none, end, start, center*/
}

.slide:nth-child(even){
    background-color: #108eb4;
}

.slide-container{
    width: 100%;
    height: inherit;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
    color: #d9e8f0;
}

.carousel{
    border: 1px solid #d938f0;
    width: 50%;
    height: 50vh;
    overflow-x: hidden; /*las diapo que van pasando se quedan ocultas*/
    display: flex;/*al poner el flex, los hijos de esta etiqueta se adaptan al tamaño */
}

.carousel-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 100%);
    overflow-x: scroll;
    overflow-y: hidden;/*para que no se genere una barra de scroll de arriba pa bajo*/
    scroll-snap-type: x mandatory;
}

.carousel-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #108eb4;
    scroll-snap-align: center;
}

.carousel-slide:nth-child(even){
    background-color: #1e2345;
}

.gradient-text{
    background-image: linear-gradient(45deg, magenta, yellow);
    -ms-background-clip: text;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    -ms-text-fill-color: transparent; /*esto para que ignore la propiedad color*/
    -moz-text-fill-color: transparent; /*esto para que ignore la propiedad color*/
    -webkit-text-fill-color: transparent; /*esto para que ignore la propiedad color*/
}