html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    scroll-behavior: smooth; /*para que suba o baje suavemente*/
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body,
h1,
h2{
    margin: 0;
}

img{
    width: 50%;
    height: auto;
}

[id]{
    scroll-margin-top: 8ex ;/*esto sirve para que cuando se de click en los botones del nav el titulo no quede tapado, se podria simular este comportamiento poniendole paddin 4rem a las slide*/
}

.header{
    position: sticky;
    top: 0;
    padding: 0.25rem;
    text-align: center;
    background-color: black;
    color: white;
}

.header a{
    margin: 0 1rem;
    color: #00c4d6;
}

.header a:hover{
    /* margin: 0 1rem; */
    color: #e94bb4;
}

.slide{
    /* border: 1px solid wheat; */
    width: 100%;
    height: 100vh;
    padding: 2rem;
    color: #d9e8f0;
    background-color: #1e2345;
}

.slide:nth-child(even){
    background-color: #108eb4;
}