html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

.box{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.shadows{
    /* box-shadow: x y radius-blur spread-blur color inset/outset; */
    color: navy;
    box-shadow: 1rem 1rem 1rem 1rem ;
    box-shadow: -1rem -1rem 1rem 1rem ;
    box-shadow: 1rem 1rem 1rem 1rem red inset;/*sombre interna*/
    box-shadow: 1rem 1rem 1rem 1rem ;

    font-size: 2rem;
    text-align: center;
    /* text-shadow: x y radius-blur color; */
    text-shadow: -0.5rem 0.5rem 0.52rem;
}

.shadows-multiple{
    box-shadow: 1rem 1rem 1rem 1rem black, -1rem -1rem 1rem 1rem red inset;/*si se necesita mas sombras, se separa por comas con el TEXT_SHADOW es lo mismo*/
}

.drop-shadow{
    width: 600px;
    height: auto; /*para que se adapte*/
}

.drop-shadow img  {
    max-width: 100%; /*esto es para que las imagens se adapten al contenedor o al viewport*/
    height: auto;
    /* box-shadow: 1rem 1rem 1rem 1rem navy; */
    /* filter: drop-shadow(x y blur-radius color); */
    filter: drop-shadow(1rem 1rem 1rem orangered);/*funciona en imagenes con transparencia, NO permite multiples valores*/
}
/* https://cssgradient.io/*/
.lineal-gradient{
    background-image: linear-gradient(red, green, blue);
    background-image: linear-gradient(0deg, red, green, blue);/*los grados van de cero en la posicion bottom center y giran como las manecillas del reloj*/
    background-image: linear-gradient(45deg, red, green, blue);
    background-image: linear-gradient(90deg, red, green, blue);
    background-image: linear-gradient(180deg, red, green, blue);
    background-image: linear-gradient(270deg, red, green, blue);
    
    background-image: linear-gradient(to right, red, green, blue);/*el ultimo color definido va a donde dice la palabra to left, to bottom, to top*/
    
    background-image: linear-gradient(to top right, red 30%, green 60%, blue); /*los porcentajes me dicen cuanto del cuadro toman*/
    background-image: linear-gradient(90deg, green 33%, white 34% 67%, red 68%);/*el blanco en pieza en el 34% y termina en el 67% - el verde se sobre entoende que va de 0% y el rojo acaba en el 100%*/

}

.radial-gradient{
    background-image: radial-gradient(circle 2rem, cyan, magenta, yellow);
    background-image: radial-gradient(circle 6rem, cyan, magenta, yellow);
    background-image: radial-gradient(circle 6rem, cyan 30%, magenta 80%, yellow);
    background-image: radial-gradient(circle 100px at top, cyan 30%, magenta 80%, yellow);/*at center, at bottom, at left.....*/
    background-image: radial-gradient(circle 100px at top right, cyan 30%, magenta 80%, yellow);/*at center, at bottom, at left.....*/
    background-image: radial-gradient(ellipse 2rem 6rem, cyan 30%, magenta 60%, yellow  80%);

    background-image: radial-gradient(circle 100px, red 50%, white); /*de esta manera queda degradado*/
    background-image: radial-gradient(circle 100px, red 50%, white 50%); /*de esta manera NO se degrada*/
}

.conic-gradient{
    background-image: conic-gradient(red, green, blue);
    background-image: conic-gradient(red 0 50%, green 60%, blue 80%);/*las 12 del reloj seria el 0%*/
    background-image: conic-gradient(red 0 90deg, green 120deg 240deg, blue 270deg 360deg);/*los 0grados son a las 12 del reloj - de cero a 90 rojo intermedio degradado de 120 a 240 verde intermedio degradado y de 270 al final azul*/

    background-image: conic-gradient(from 90deg, red 0 90deg, green 120deg 240deg, blue 270deg 360deg); /*from ... para ir girando*/

    background-image: conic-gradient(from 90deg, red 0 120deg, blue 120deg 240deg, white 240deg );
}

.repeat-gradient-lineal{
    background-image:repeating-linear-gradient(red 0 10px, green 10px 20px, blue 20px 30px);
    background-image:repeating-linear-gradient(90deg, red 0 10px, green 10px 20px, blue 20px 30px);
}

.repeat-gradient-radial{
    background-image: repeating-radial-gradient(cyan 0 10px, magenta 10px 20px, yellow 20px 30px);
}

.repeat-gradient-conic{
    background-image: repeating-conic-gradient(red 0 8%, black 8% 16%, yellow 16% 24%);
}

.chart-gradient{
    background-image: conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
    border-radius: 50%;
}

.donut-gradient{
    background-image: radial-gradient(white 40%, black 41% 43%, transparent 40%), conic-gradient(cyan 0 50%, magenta 50% 80%, yellow 80%);
    border-radius: 50%;
}


.card{
    width: 600px;
    height: 400px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
    
}

.filter{
    filter: blur(0.5rem);
    filter: brightness(2);/*0-1 mas alla se qeuma la imagen*/
    filter: contrast(3);
    filter: grayscale(1);/*0-1*/
    filter: sepia(1);
    filter: hue-rotate(180deg);/*tiene que ver con la rueda de los colores*/
    filter: invert(1);/*es mas bien booleano*/
    filter: opacity(0.25);
    filter: saturate(18);
}

.filter-multiple{
    filter: blur(0.15rem) hue-rotate(270deg) opacity(0.75) invert(1);
}

.relative{
    position: relative;
}

.absolute{
    position: absolute;
    top: 0;
    left: 0;
}

.backdrop-filter,
.backdrop-filter-multiple{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.backdrop-filter h4{
    padding: 2rem;
    border-radius: 1rem;
    font-size: 3rem;
    color: white;
    /* background-color: rgba(255, 102, 255, 0.5); */
    background-color: rgba(255, 255, 255, 0.5);

    backdrop-filter: grayscale(1);/*se supone que se le pueden poner todos los filtros*/
    /* backdrop-filter: hue-rotate(125deg); */
    backdrop-filter: blur(1);


}

.backdrop-filter-multiple h4{
    padding: 2rem;
    border-radius: 1rem;
    font-size: 3rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);

    backdrop-filter: blur(1rem) hue-rotate(240deg) opacity(0.75) invert(1);
}

.dark-mode{
    background-color: #fff;
    color: black;
    filter: invert(1);
}

.dark-mode img{
    filter: invert(1);
} /*en el html esta la clase y con este segundo filtro las imagenes no se ven afectadas*/

.blend-modes img{
    mix-blend-mode: normal;/*default*/
    mix-blend-mode: color;
    mix-blend-mode: color-dodge;
    mix-blend-mode: color-burn;
    mix-blend-mode: screen;
    mix-blend-mode: multiply;
    mix-blend-mode: saturation;
    mix-blend-mode: luminosity;
    mix-blend-mode: hue;
    mix-blend-mode: exclusion;
    mix-blend-mode: hard-light;
    mix-blend-mode: soft-light;
    mix-blend-mode: lighten;
    mix-blend-mode: darken;
    mix-blend-mode: overlay;

}

.bg-blend-modes{
    background-image: url("../assets/puesta-sol.jpg"), url("../assets/BuenosDias.jpg");
    background-size: cover, cover; /*asi aplica sobre las dos imagenes, se puede poner solo un cover y se entiende que es para ambas imagenes*/
    background-blend-mode: color;
    /*los mismos valores de mix-blend-mode se aplican aqui*/
    background-blend-mode: darken;

}

.clip-path{
    /* clip-path: circle(radio del circulo at posicion); */
    clip-path: circle(4rem);
    clip-path: circle(100px at top);/*respecto a su contenedor at left, at bottom, at right*/
    clip-path: circle(100px at left bottom);
    clip-path: circle(100px at 0 250px); /*x y*/
    clip-path: circle(100px at 75%);
    clip-path: circle(100px at 18% 60%);

    clip-path: ellipse();
    clip-path: ellipse(1rem 2rem);
    clip-path: ellipse(100px 50px);
    clip-path: ellipse(100px 50px at left);
    clip-path: ellipse(100px 50px at left bottom);
    clip-path: ellipse(100px 50px at 18% 60%);

    clip-path: inset(1rem);/*entre mas grande el numero mas se corta la imagen*/
    clip-path: inset(4rem 10rem 5rem 1rem); /*funciona en sentido de las manecillas del reloj, como el margin o el padding*/
    clip-path: inset(4rem round 1rem);/*redondea las esquinas*/
    clip-path: inset(4rem round 1rem 2rem 3rem 4rem); /*redondea igual que el border radius*/

    clip-path: polygon(0 0, 0 100%, 50% 50%);
    clip-path: polygon(0 0, 0 100%, 32% 25%, 80% 20%);
    /*https://bennettfeely.com/clippy/*/

} 

.shape{
    border: 1px solid black;
    padding: 1rem;
    margin: 0 auto 5px;
    max-width: 800px;
    font-size: 1.25rem;
}

.shape img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: 0 50%;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.shape-1{
    shape-outside: circle();
    margin: 4rem 2rem 4rem 0;
}

.shape-2{
    margin: 4rem 0 4rem 2rem;
    shape-outside: ellipse();
}

.shape-3{
    margin: 2rem 8rem 0 0;
    shape-outside: polygon(1% 13%, 18% 2%, 42% 0%, 54% 22%, 60% 41%, 67% 65%, 81% 65%, 88% 75%, 97% 83%, 100% 97%, 1% 100%);
}