/*font-display:
  auto - permite que el navegador utilice el método predeterminado que suele ser block
  block - oculta brevemente el texto hasta que la fuente haya sido descargada por completo
  swap - indica al navegador que utilice la fuente alternativa para mostrar el texto hasta que la fuente personalizada se haya cargado por completo
  fallback - es una mezcla de auto y swap
  optional -ocultará el texto, luego lo cargará con la fuente alternativa y finalmente aplicará la fuente personalizada
*/

.font{
    font-family: 'Courier New', Courier, monospace;
    font-size: 32px;
    font-weight: 900;
    font-style: oblique;
    font-variant: small-caps;/*pone en mayus*/
    line-height: 2;/*interlineado*/
}

/*woff y woff2 web open font format*/
@font-face {
    font-family: "Chalet";
    src: url("../assets/Chalet.woff") format("woff"),
         url("../assets/Chalet.woff2") format("woff2");
    font-display: swap;
}

.chalet{
    font-family: "Chalet", sans-serif;/*la sans serif es un por si acaso*/
}

@font-face {
    font-family: "Pesita";
    src: url("../assets/Pecita.woff") format("woff");
    font-display: swap;

}
.pesita{
    font-family: "Pesita", sans-serif;
    font-size: 2rem;

}

.code{
    font-family: 'Press Start 2P', cursive;
    color: blue;
}

.text{
    font-size: 2rem;
    text-align: left;
    text-indent: 3rem; /*hace una tabulacion a la primera linea*/
    text-transform: uppercase;
    letter-spacing: 1rem; /*espacio que se deja entre letras*/
    }

.text a{
    text-decoration: none;/*le da el subrayado a los enlaces, con none se lo quita*/
}

.text-overflow{
    background-color: blanchedalmond;
    font-size: 2rem;
    border: 1px solid black;
    padding: 1rem;
    width: 50% ;
    overflow: hidden; 
    white-space: nowrap;
    text-overflow: ellipsis; /*para que funcione hay que tener ovewrflow: hidden y white-space: nowrap*/

}

.white-space{
    white-space: pre; /*que hacer con los espacios en blanco(saltos de linea por ejemplo), el pre se comporta como una etiqueta PRE de HTML*/

}

.word{
    word-break: break-all; /*este rompe las palabras para que no queden espacios en blanco a los lados*/
    font-size: 2rem;
    word-spacing: 2rem;/*mientras que el letter spacing actua sobre cada letra, aqui se actua sobre cada palabra*/
    writing-mode: vertical-lr;
}

/*TIPOGRAFIAS DE ICONOS VECTORIALES*/

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }