html{
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

.contact-form{
    --form-text-color: #333;
    --form-success-color: #4caf50;
    --form-error-color: #f44336;
    --form-bg-color: #eee;
    --form-border-color: #222;
    --form-placeholder-color: #006999;

    background-color: var(--form-bg-color);
    border: 1px solid var(--form-border-color);
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    padding: 2rem;
}

.contact-form > *{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
    font-family: sans-serif;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
    box-shadow: 5px 2px;
    color: var(--form-text-color);
    caret-color: #006999;
}

.contact-form > *::placeholder{
    color: var(--form-placeholder-color);
}

.contact-form > *[required]:invalid{
    border: 1px solid var(--form-error-color);
}

.contact-form > *[required]:valid{
    border: 1px solid var(--form-success-color);
}

.contact-form input[type="submit"]{
    margin-bottom: 0;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--form-placeholder-color);
    font-weight: bold;
    color: #fff;
    font-size: 1.25rem;
}

.contact-form input[type="submit"]:hover{
    cursor: pointer;
    opacity: 75%;
}

.contact-form textarea{
    resize: none; /*quita las rayitas de la textarea que permiten que se cambie de tamaño*/
}