img{
    max-width: 100%;
    height: auto;
}/*con esto se resetea para que la imagen tome siempre el tamaño del viewport - osea una imagen resposiva*/

.card{
    border: 3px solid black;
    width: 400px;
    height: 400px;
}

.card img{
    background-color: blanchedalmond;
    height: 300px;

    /*esto es como el tamaño de la imagen*/
    object-fit: fill;/*default*/
    object-fit: cover; /*object-fit: contain; /*trata de hacer que se vea toda la imagen*/
    object-fit: contain;
    object-fit: none; /*no adaptar la imagen*/
    object-fit: scale-down;/*considera los valores de none y contain toma el menor*/

    /*esto es como la posicion de la imagen*/
    object-position: center top;
    object-position: left center;
    object-position: 390px center;/*depende del contenedor, es este caso la card de 400px*/
    object-position: 50% 50%; /*con object-fit, se activa este propiedad es estos valores*/

}