.list{
    list-style-type: lower-roman;
    list-style-type: lower-greek;
    list-style-type: decimal-leading-zero;
    list-style-type: none;

    /* list-style-image: url("../assets/cielo.png"); */
}

/*de esta manera se pueden poner imagenes como puntos de items*/
.list li::before{
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url("../assets/favicon.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.list-2 li{
    background-color: coral;
    list-style-position: outside; /*default*/
    list-style-position: inside; /*esto funciona bien para textos de una sola linea*/
}

.text-column-4{
    column-count: 4;/*cantidad de columnas*/
    column-gap: 1rem;/*separacion entre col*/
    column-rule: 3px solid dodgerblue;
    list-style-position: inside; /*y asi la regla azul no pasa sobre los numeros*/
    column-width: 100px; /*tamaño minimo de anchura de las columnas*/

}

.text-column-3{
    column-count: 3;/*cantidad de columnas*/
    column-gap: 1rem;/*separacion entre col*/
    column-rule: 3px solid violet;
    list-style-position: inside; /*y asi la regla azul no pasa sobre los numeros*/
    column-width: 100px; /*tamaño minimo de anchura de las columnas*/

}