/*
transition-property, a la propiedad a la que se le va a aplicar la transicion
transition-duration, la diracion en milisegundos
transition-timing-function, linear ease(aceleracion) ease-in ease-out ease-in-out steps
transition-delay, un tiempo de espera antes de que empiece  
*/


/*CUANDO SE PONE UNA PORPIEDAD CON TRANSICION, NO SOLO ACTUA EN DONDE SE DECLARO, SINO DESDE QUE SE CARGA LA PAGINA Y POR SUPUESTO LA ESPECIFICIDAD SIEMPRE VA A FUNCIONAR SOBRE LA CASCADA*/
html{
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
    overflow-x: hidden; /*asi todas las animaciones que se han hecho no van a generar una barra de desplazamiento lateral*/
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

.box{
    width: 200px;
    height: 200px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3rem;
}

.card{
    width: 600px;
    height: 400px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
}

.card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
    
}

.transitions .box{
    background-color: magenta;
    transition: background-color;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 0.5s ;

    transition: border-color 2s linear 1s;

    /* transition: all 2s ease-in-out 250ms; */ /*PARA QUE NO HAYA MOVIMIENTO DE MARGIN AL CARGAR NO USAR ALL*/

    /*por cascada solo se hace la ultima transicion, para solucionar esto se aplica ALL*/
    /*sin embargo ALL aplica transicion no solo a las propiedades comentadas aqui, sino a margenes, anchura y altura y por eso se ve la caja apareciendo como una transicion, para evitar eso mejor separar por comas cada propiedad a transicionar*/
}

.transitions .box:hover{
    background-color: cyan;
    border-color: red;
    border-radius: 2rem;
    /* border-style: dashed;No animable */
}
/*hay propiedades animables y hay unas que NO https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_animated_properties*/

.transitions .card{
    /* transition: all 2s ease; si lo que se quiere es todo a la vez */
    transition: opacity 1s ease-out,
    border-color 3s steps(3),
    filter 2s ease-in 1s,
    box-shadow 1.5s linear 2s;/*para hacer varias a la vez, personalizadas, se separa por comas cada cosa*/
}

.transitions .card:hover{
    opacity: 0.75;
    border-color: orchid;/*que pasa con esta transicion? pues que arriba en la card esta definida con el shorthand y la transicion esta definida para border-color*/
    filter: blur(0.15rem);
    box-shadow: 1rem 1rem 2rem 0.5rem #000;
}

.transitions .card img{
    transition: object-position 2s ease-in-out 3s;
}

.transitions .card img:hover{
    object-position: 100% 50% ;
}

/* .transform-2d img{
    transition: transform 2s ease;
    transform: translateX(4rem);
} ejemplo*/

.transform-2d img{
    transition: transform 2s ease;

}
/* https://css-tricks.com/almanac/properties/t/transform/ */
.transform-2d img:hover{
    transition: transform 2s ease;
    transform: translateX(4rem);
    transform: translateY(-4rem);
    transform: translate(-4rem, 4rem);
    transform: translate(50% 50%);/*toma como base el tamaño de la imagen*/

    transform: scaleX(2);/*aumenta al doble de su tamaño en X*/
    transform: scaleY(-0.5);
    transform: scale(0.5, 0.5); /*-1 -1 es poner al reves la imagen*/

    transform: rotateY(60deg);/*da una sensacion de perspectiva, entonces en X la parte de arriba se va al fondo y parece que se hace mas peque*/
    transform: rotateZ(60deg);

    transform: skewX(20deg);
    transform: skewX(-20deg);
    transform: skewY(20deg);
    transform: skew(20deg, 200deg); 

  /* 
    matrix( scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY() )
    https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/matrix()
  */
    transform: matrix(1, 2, 2, 1, 20, 10);

    transform: translate(25%, -50%) rotate(240deg) skew(10deg, 20deg);
}

.transform-3d img{
     transition: transform 2s ease;

}

/*para no estar escribiendo la funcion perspective se le aplica entonces al elemento padre de lo que se quiere en 3D en este caso el article y sus clases*/
.transform-3d{
    perspective: 10rem;
}

.transform-3d img:hover{
    transform: perspective(5rem) translateZ(-4rem);/*el valor de perspectiva es cuanto de fondo se tiene, pero mmmm entre menor sea en numero se viene mas para el frente*/

    transform: translateZ(1rem);/*este funciona por el perspective de la clase transform-3d*/

    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/translate3d */
    transform: translate3d(2rem, 50%, -3rem);
    
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/scale3d */
    transform: scale3d(2, 0.5, 3);/*solo se ve en 2d ya que la imagen es bidimencional*/
    
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/rotate3d */
    transform: rotateX(30deg);
    transform: rotateY(60deg);
    transform: rotate3d(1, 1, 1, 45deg);
    transform: rotate3d(1, 0, -2, 60deg);


    /* https://developer.mozilla.org/en-US/docs/Web/CSS/transform-function/matrix3d() */
    transform: matrix3d(1, 0, 0, 0, 0, 1, 6, 0, 0, 0, 1, 0, 50, 100, 0, 1.1);

    transform:  rotate3d(-1, 2.5, -2, 60deg) translate3d(2rem, 50%, -3rem) scale3d(2, -0.5, 3);
}

.transform-origin img{
    transition: transform 2s ease-in-out;
    /* transform-origin:x y z ; */
    transform-origin:50% 50% 0;/*default*/
    transform-origin:0 0 0;
    transform-origin:bottom right;
    transform-origin:bottom center;
    transform-origin:-2rem -3rem;

}

.transform-origin img:hover{
    transform: rotate(360deg);
}

.flip-card-1,
.flip-card-2{
    width: 600px;
    height: 400px;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;

    position: relative;
    cursor: pointer;
    transition: transform 1s ease-in-out;
    perspective: 10rem;
    transform-style: preserve-3d;/*los hijos tendras su propia perspectiva, adicional a la del padre*/
    /*transform-style: flat;*//*al dejar este valor cuando gira la card solo se ve la puesta de sol al reves*/
}

.flip-card-2{
    transform-origin: center right ;
}

.flip-card-1:hover{
    transform: rotateY(180deg);
}

.flip-card-2:hover{
    transform: translateX(-100%) rotateY(-180deg);
}

.flip-card-1 img,
.flip-card-2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 50%;
    
}

.flip-face{
    position: absolute ;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;/*su default es visible - esto funciona con el perspective*/
    /* si se le pone el valor en visible, al rotar se queda la image de buenos dias rotando */
}

.flip-front{
    transform: rotateY(0deg);
    /* si aqui y abajo se cambia el valor por rotateX pues la card girara en el eje X */
}

.flip-back{
    transform: rotateY(180deg);
}


@keyframes myAwesomeAnimation{
    from{
        /* todo lo que se ponga aqui sera parte del fotograma inicial */
        opacity: 0;
        transform: translateX(0);
    }

    to{
        opacity: 1;
        transform: translateX(100%);

    }
}

.my-animation{
    /* animation: name duration timing-function delay iteration-count direction fill-mode play-state; */
    animation-name: myAwesomeAnimation;
    animation-duration: 3s;
/* con estos dos valores ya se puede hacer @ketframes */

    animation-timing-function: cubic-bezier(1, 0, 0, 1);
    /* https://cubic-bezier.com/#.17,.67,.83,.67 */
    /* es una animacion basada en la curva bezier */
    
    animation-timing-function: ease-in-out;
    animation-delay: 1500ms;
    
    animation-iteration-count: 3;
    /* puede tomar el valor infinite */

    animation-direction: reverse;
    animation-direction: alternate;
    animation-direction: alternate-reverse;

    animation-fill-mode: forwards;
    /* al final de la animacino se queda con los estilos finales */
    animation-fill-mode: backwards;
    /* lo contrario de la anterior */
    animation-fill-mode: both;
    /* aplica al mismo tiempo los valores anteriores */

    animation-play-state: running;
    /* la animacion va a suceder, es el valor por defecto */
    animation-play-state: paused;
    /* se pausa la animacion, esta es perfecta para usar con JS  */
}

@keyframes myAwesomeAnimation2 {
    /* la linea de tiempo esta determinada por porcentajes */
    0%{
        opacity: 0;
        transform: translateX(0);
    }

    50%{
        opacity: 0.5;
        transform: translateX(-50%);

    }

    75%{
        transform: translateX(-75%);

    }

    100%{
        opacity: 1;
        transform: translateX(100%);

    }
}

.my-animation-2{
    animation: myAwesomeAnimation2 2s;
}


@keyframes multipleAnimation1 {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes multipleAnimation2 {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
        
    }
}

.animation-multiple{
    animation: multipleAnimation1 3s infinite paused, 
    multipleAnimation2 3s infinite paused;
}


.motion-examples{
    text-align: center;
}

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fade-out{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}

.fade-in{
    font-size: 3vw;
    animation: fadeIn 2s linear 2s infinite alternate both;
    /*el alternate hace que no se de un salto brusco al iniciar nuevamente la animacion*/
}

.fade-out{
    font-size: 3vw;
    animation: fade-out 2s linear 2s infinite alternate both;
}


@keyframes shake {
    10%,
    90%{
        transform: translate(-1px, 0);
    }
    20%,
    80%{
        transform: translate(2px, 0);
    }
    30%,
    50%,
    70%
    {
        transform: translate(-4px, 0);
    }
    40%,
    60%{
        transform: translate(4px, 0);
    }
}
.shake{
    font-size: 5vw;
    cursor: pointer;
    display: inline-block;/*para que el efecto aplique solo sobre la tasita*/
}

.shake:hover{
    animation: shake 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate(0, 0);
}

@keyframes pulse {
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}
.pulse{
    font-size: 5vw;
    animation: pulse 1s infinite  ;
}

@keyframes heartColor {
    10%{
        background-color: #d00;
    }
}

.heart{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 10vw;
    height: 10vw;
    /* background-color: #888; */
    animation: pulse 1s infinite;
}

.heart::before,
.heart::after{
    position: absolute;
    content: "";/*NO olvidar poner esto para que gracias a before y after se dibuje lo que queremos*/
    left: 5vw;
    top: 0;
    width: 5vw;
    height: 8vw;
    background-color: #a00;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
    border-radius: 5vw 5vw 0 0;
    animation: heartColor 1s infinite;
}

.heart::after{
    left: 0;
    transform: rotate(45deg);
    transform-origin: 100% 100%;
}

@keyframes spinner {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.spinner{
    /* background-color: #a00; */
    width: 5vw;
    height: 5vw;
    margin-left: auto;
    margin-right: auto;
    border: 0.5vw solid rgba(0, 0, 0, 0.1);
    border-left-color: #09f;
    border-radius: 50%;
    animation: spinner 1s ease-out infinite;/*la aceleracion ease-out hace que sea mas lento al final*/
}

.btn{
    position: relative;
    border: none;
    border-radius: 0.25rem;
    padding: 0.2rem;
    width: 15rem;
    height: 2.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0.25rem 0.25rem 0.5rem 0.25rem rgba(0, 0, 0, 0.15);
}

.anim-bottom::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0.25rem;
    background-color: #d00;
    transition: width 0.5s ease, left 0.5s ease, right 0.5s ease;
}

.anim-bottom:hover::after{
    width: 100%;
}

.to-left::after{
    left: 0;
}

.to-right::after{
    right: 0;
}

.to-center::after{
    left: 50%;
}

.to-center:hover:after{
    left: 0;
}

.anim-bg-gradient{
    background-image: linear-gradient(to right, pink, violet, orange, orangered);
    background-size: 300% 100%;
    transition: background-position 0.5s ease-in-out;
}

.anim-bg-gradient:hover{
    background-position: 100% 0;/*el punto de vista se va al final del backgrund al naranja*/
}


.tabs-menu{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    background-color: #ddd ;
    padding: 1rem;
    border-radius: 1rem;
    width: 70%;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.tabs-menu input[type="radio"]{
    display: none;
}

.tabs-menu label{
    position: relative;
    text-align: center;
    cursor: pointer;
    width: calc(100% / 4 - 0.5rem);/*esto centra todo */
    z-index: 1;
}

.tabs-menu label:hover{
    color: #fff;
    font-weight: bold;
}

.tabs-menu input[type="radio"]:checked+label{
    /*cuando este checked un radio, se afecta la label hermana*/
    color: blueviolet;
    font-weight: bold;
    
}

.tab-bg-color{
    position: absolute;
    width: calc(100% / 4 - 0.5rem);
    height: 2rem;
    background-image: linear-gradient(90deg, #a00, #f00);
    border-radius: 0.5rem;
    transition: transform 500ms ease-in-out;
}

#tab-1:checked ~ .tab-bg-color{
    transform: translateX(0);
}

#tab-2:checked ~ .tab-bg-color{
    transform: translateX(100%);/*es en 100% por que es respecto a lo que se mueve, osea la barra roja que su cabeza es el 0 y su cola el 100%*/
}

#tab-3:checked ~ .tab-bg-color{
    transform: translateX(200%);
}

#tab-4:checked ~ .tab-bg-color{
    transform: translateX(300%);
}

.off-canvas-btn{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 999;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    opacity: 0.25;
    opacity: 0;
}

.off-canvas-burguer{
    background-color: #d00;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 998;
    width: 3rem;
    height: 0.6rem;
    border-radius: 0.3rem;
    transform: rotate(0deg) translate(0, -1.2rem);
    transition: transform 0.5 ease, background-color 0.5 ease;
    transform-origin: top left;
}

.off-canvas-burguer::before,
.off-canvas-burguer::after{
content: "";
display: block;
width: 100%;
height: 0.6rem;
background-color: #d00;
border-radius: 0.3rem;
transition: transform 0.5 ease;
 
}

.off-canvas-burguer::before{
    transform: rotate(0deg) translate(0, -0.9rem);
    background-color: blue;
}

.off-canvas-burguer::after{
    transform: rotate(0deg) translate(0, 0.3rem);
    background-color: green;
      
}

.off-canvas-btn:checked + .off-canvas-burguer
{
    background-color: transparent;
}

.off-canvas-btn:checked + .off-canvas-burguer::after{
    transform: rotate(-45deg) translate(0.4rem, -0.5rem);

}

.off-canvas-btn:checked + .off-canvas-burguer::before{
    transform: rotate(45deg) translate(0, 0);

}

.off-canvas-menu{
    background-color: #0008;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;

    transform: translate(0, -100%);/*con esto el cuadro con los nav queda por fuera de la pantalla, en la parte de arriba*/
    transform: translate(0, 100%);/*queda en la parte de abajo*/
    transform: translate(-100%, 0);/*queda en la parte izquierda*/
    transform: translate(100%, 0);/*queda en la parte derecha*/

    transition: transform 500ms ease;
}

.off-canvas-btn:checked ~ .off-canvas-menu{
    transform: translate(0, 0); 
}

.off-canvas-menu-container{
    /* background-color: rebeccapurple; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.off-canvas-link{
    padding: 2rem;
    border-bottom: thin solid red;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
    transition: background-color 300ms ease;
}

.off-canvas-link:first-child{
    border-top: thin solid red;
     
} 

.off-canvas-link:hover{
    background-color: #d005;

}



.modal{
    background-color: #0008;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 997;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: opacity 500ms ease;
    opacity: 0;/*para verlo y poder trabajar se le pone en 0.1*/
    pointer-events: none;/*esto le quita la interactividad a los elementos de la ventana, por que apesar de que no se vean, los enlaces siguen en la pantalla, lo mismo que la X*/
}

.modal:target{
    opacity: 1;
    pointer-events: auto;
}

.modal-container{
    position: relative;
    border: 5px double #d00;
    border-radius: 1rem;
    padding: 2rem;
    background-color: #fff;
    width: 70%;
    height: 70vh;

    display: flex;
    flex-direction: column;
    text-align: left;
    overflow: hidden;
}

.modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 3rem;/*las guias de estilo de celulares dicen que el dedo promedio es de 40 a 45px por eso aqui se pone 3 rem*/
    height: 3rem;
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
    background-color: #d00;
    text-align: center;
    line-height: 3rem;/*centra por que es un solo caracter*/
    text-decoration: none;
    border-radius: 50%;

    transition: background-color 300ms linear, transform 300ms ease-in-out;
}

.modal-close:hover{
    background-color: #a00;
    transform: scale(1.2);
}


@keyframes introStarWars {
    0%{
        transform: perspective(100vh) rotateX(15deg) translateY(100%);
    }
    100%{
        transform: perspective(100vh) rotateX(25deg) translateY(-200%);

    }
}

.star-wars{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #ffb13a;
    background-image: url("../assets/stars.gif");
}

body{
    margin: 0;
}

.star-wars-container{
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: justify;
    letter-spacing: 0.1rem;
    animation: introStarWars 20s linear infinite;
}

.star-wars h2,
.star-wars h3{
    font-size: 5vw;
    text-align: center;
}

.star-wars p{
    font-size: 2rem;
    line-height: 4rem;
}