body{
    margin: 0;
    /* padding-top: 50px; *//*este es para cuando se usa el fixed, por que  pierde su lugar en el html*/
}

.header{
    background-color: mistyrose;
    width: 100%;
    height: 50px;
}

.fixed-top{
    position: fixed;
    top: 0;
}

.sticky-top{
    position: sticky;
    top: 0;
}

.hero-image{
    background-color: palegoldenrod;
    width: 100%;
    height: 100vh;
}

.slide{
    background-color: paleturquoise;
    width: 100%;
    height: 100vh;
}

.slide:nth-child(even){
    background-color: palevioletred;
}

.slide-title{
    background-color: palegreen;
    padding: 16px;
    text-align: center;
    position: sticky;
    top: 50px;
    margin-top: 0;
    margin-bottom: 0;/*estos dos es para qeu se vea el empuje continuo*/
}

.modal-window{
    background-color: black;
    /* position: absolute; */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.5;
    display: none;
    color: white;
}

.modal-window:target{
    display:block;
}

.box{
    background-color: sandybrown;
    padding: 20px;/*si le doy negativos no pasa nada*/
    margin-top: -30px;
}