/*top, bottom, .... no funcionan con STATIC*/
/*top y left tienen preferencia sobre bottom y right*/

/*static por defecto - respeta el flujo del HTML*/
.static{
    background-color: yellow;
    position: static;
}

/*relative: el elemento concerva sus dimensiones y posicion original(osea deja el hueco de donde partio) en el flujo del documento. Si se mueve toma como referencia su posicion orignal*/

.relative{
    background-color: turquoise;
    position: relative;
    width: 300px;
    height: 50px;
    /* top: 50px;
    left: 50px; */
    bottom: 50px;
    right: 50px;
}

/*absolute: el elemento pierde sus dimensiones y posicion original en el flujo de documento. Si se mueve puede tomar como referencia 2 elementos
1. el primer ancestro (un elemento padre)con posicionamiento relativo
2. si no encuentra un anscestro relativo, se mueve respecto del documento HTML*/

.absolute{
    background-color: tomato;
    position: absolute;
    /*toca darle dimensiones*/
    width: 200px;
    height: 50px;
    top: 0;
    left: 0;
}

.relative-parent{
    background-color: khaki;
    width: 600px;
    height: 50px;
    position: relative;
    top: 50px;
    left: 50px;
}

.absolute-child{
    background-color: lightcoral;
    position: absolute;
    left: 0px;
    top: 0px;
}

/*fixed: el elemento pierde sus dimesiones y su posicion orignal en el flujo del documento. Si se mueve toma como referencia el documento HTML y queda fijo en la posicion, cuando el scroll se mueva el elemento no lo hara, queda fijo*/

.fixed{
    background-color: lightgreen;
    position: fixed;
    width: 300px;
    height: 100px;
    bottom: 0;
    right: 0;
}


/*
sticky: es una combinacion de posicionamiento relative y fixed, para este posicionamiento las propiedades de top, left, bottom y right no mueven el elemento, sirven como punto de referencia, mientras no lleguen a ese valor el elemento se comporta como relative, pero cuando llega se convierte en fixed

para que este comportamiento funcione el elemento sticky debe ser hijo directodel body o su elemento contenedor debe tener dimensiones definidas y solo sera sticky dentro de las dimensiones de su contenedor padre
*/


.sticky{
    background-color:lightskyblue;
    position: sticky;
    top: 50px;
}

/*
sticky con padre
*/
.sticky-parent{
    border: 1px dashed black;
    height: 600px;/*esta a la dimension definida */
}

.sticky-child{
    background-color: grey;
    position: sticky;
    top: 200px;
}

/*
z-index: a mayor valor mas al frente, su valor por defecto es auto

un elemento padre nunca podra estar sobre sus elementos hijos, sin embargo los elementos hijos si pueden dandoles un valor negativo y el elemento padre no debe tener asignado ningun z-index definido

lo ideal es que se le de valores de 100 en 100 para tener un margen de cambio
*/

.z-index-1,
.z-index-2{
    background-color: mediumaquamarine;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    position: relative;
}

.z-index-1{
    z-index: 1;
}

.z-index-2{
    top: -200px;
    left: 100px;
}

.z-index-parent{
    background-color: mediumorchid;
    width: 300px;
    height: 300px;
    position: relative;
}

.z-index-child{
    background-color: mediumvioletred;
    position: relative;
    width: 150px;
    height: 150px;
    top: -75px;
    left: 75px;
    z-index: -2;
}