.table{
    font-size: 3rem;
    border: 3px solid black;
    border-collapse: collapse; /*para que se unan las celdas*/
    border-collapse: separate; /*default*/
    empty-cells: hide;/*se pierde esa celda cuando esta vacia*/
}

table,
th,
td{
    border: 1px solid black;
    border-spacing:  10px;/*funciona con el separate y si esta en 0 hace que todas las celdas esten juntas*/
}
