/* 
Unidades de Medida
  1) Absolutas (Su valor no cambia, son unidades del mundo real)
    pc, cm, mm, in, Q
    pt (1/72in)
    px (1/96in)
    
    ESTAS SIRVEN MUCHO A LA HORA DE IMPRIMIR
    font-size generalmente en px, pero esta mejor en REM
    paddings, margins: REM, pero el EM puede ser util al hacer zoom in- out

  2) Relativas (Su valor es relativo a un contexto)
    em, rem, ex, ch - al tamaño de la fuente (font-size) del contenedo padre
      em - basada en la anchura de la "m" de la fuente del elemento
      (root em) rem -  basada en la anchura de la "m" de la fuente del elemento raíz (html)
      ex - basada en la altura de la "x" de la fuente del elemento
      ch - basada en la anchura del "0" de la fuente del elemento
    % - al tamaño del contenedor !!!!!!!!!!!!!
    vw, vh, vmin, vmax - al tamaño del viewport
      vw - ancho del viewport van de 1 a 100
      vh - alto del viewport van de 1 a 100
      vmax - entre vw y vh toma el que tenga mayor valor
      vmin - entre vw y vh toma el que tenga menor valor
  Conversiones entre unidades - https://pxtoem.com/

https://www.aluracursos.com/blog/guia-de-unidades-en-css
  */

html{
    box-sizing: border-box;
}

*::after,
*::before{
    box-sizing: inherit;
}
/*el problema de los px es que no se adapta para el responsive un pixel es lo mismo en pantalla y en celu*/
.pixels{
    background-color: cadetblue;
    width: 500px;
    height: 400px;
    padding: 20px;
    font-size: 16px;
    border: 5px solid rebeccapurple;
}

.ems{
    background-color: cadetblue;
    font-size: 24px; /*1 em - 16 pixeles son el valor por defecto, por que su padre es el body y 16px es el valor por defecto*/
    padding: 1em; /*en el navegador todo siempre se expresa en px*/
    border: 5px solid rebeccapurple;

}

.em-child{
    background-color: salmon;
    border: 5px solid beige;
    font-size: 2em;/*el tamaño de letra tiene com base el padre, en este caso el .ems es su padre y entonces la base son 24px segun el navegador*/
    padding: 1em; /*esta medida depende de el font size de aqui mismo*/ 

}

.rems{
    background-color: cadetblue;
    font-size: 24px; 
    padding: 1rem; 
    border: 5px solid rebeccapurple;

}

.rem-child{
    background-color: salmon;
    border: 5px solid beige;
    font-size: 2rem;
    padding: 1rem;  

}

.exs{
    background-color: cadetblue;
    font-size: 24px;
    padding: 1ex; 
    border: 5px solid rebeccapurple;

}

.ex-child{
    background-color: salmon;
    border: 5px solid beige;
    font-size: 2ex;
    padding: 1ex; 

}

.chs{
    /*toman el html font size*/
    background-color: cadetblue;
    width: 10ch;
    border: 5px solid rebeccapurple;

}

.percentages{
    background-color: darkkhaki;
    width: 80%;
    font-size:100% ;/*la base es la etiqueta html */
    padding: 5%;
    height: 100%; /*esto se ignora por que la altura esta definida por el contenido*/
}

hr{
    margin-left: 50%;
}

.height-parent{
    background-color: lightseagreen;
    width: 500px;
    height: 500px;
}
/*esto para demostrar que el contendor padre debe tener un alto y un ancho bien definido*/
.height-child{
    background-color: coral;
    width: 50%;
    height: 50%; 
}

/*las unidades del viewport solucionan el problema de la altura*/
/*no importa si es child de alguien, siepre se fija en el viewport */
.viewport{
    background-color: darkcyan;
    width: 50vw;
    /* width: 100vw genera problemas por el margen del body y por que el viewport tambien es la barra de desplazamiento; */
    width: 100%;/*recordar que depende del tamaño del contenedor*/
    height: 50vh;/*lee el alto del viewport y de esa manera lo divide*/
    font-size: 1.5vw;

    padding: 2vh 2vw;
}

.vmax,
.vmin {
    background-color: darksalmon;
    border: 5px solid black;
    width: 50vmax;
    height: 50vmin;
}
.vmax{

}

.vmin{

}