/*root es lo mismo qyue la etiqueta html, pero tiene mas valor de especificidad, entoces este seria el padre para hacer variables globales */
:root{
    --default-bg-color: skyblue;
}

html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

.custom-props-1{
    --primary-color: gray;
    --size: 32px;
}

.custom-props-1{
    color: var(--primary-color);
}
/*las variables se heredan a los hijos*/
.custom-props-3{
    border: 1px solid var(--border); /*esta variable esta definida en el html */
    font-size: var(--size);
}

/*como el scope o alcance de la variable es solo  de padres a hijos, no funciona en este caso. La funcion VAR recibe un segundo a parametro para solucionar estos casos*/
.title-props{
    background-color: var(--default-bg-color);
    color: var(--primary-color, orange);
}

.ch-10{
    background-color: var(--default-bg-color);
    font-size: 2rem;

    --num-ch: 10ch;
    --padding-size: 2ch;
    
    padding: var(--padding-size);
    /* width: 10ch; */
    width: calc(var(--num-ch) + (var(--padding-size) * 2) ) ; /*entre signos de operaciones hay que dejar un espacio*/
}

.min-max{
    background-color: var(--default-bg-color);
    margin-top: 1rem;
    width: min(300px, 20vw); /*puede tener mas de dos valores, separados por comas*/
    height: max(200px, 25vh);
}

/**/
h1{
    font-size: clamp(2rem, 1rem + 3vw, 3rem);
}